@{
    ViewBag.Title = "About SCE";
}
<h2>@ViewBag.Title:</h2>

<!DOCTYPE html>

<html>
<body>
    <div style="font-size: large">
        Shamoon College of Engineering (SCE) is Israel's largest college dedicated to engineering the future.

        Combining world-class academic excellence with a unique approach to education and social responsibility, SCE is much more than a college; it is a source of inspiration and cultivation which encourages forward-thinking and facilitates significant achievements. "Engineering the future" is both our promise and our mission, which propels our students forward and leads them to set an example of excellence amongst their peers and within their communities. With two campuses located in southern Israel, a continuously growing body of over 5,000 students and six different engineering tracks, SCE is, and will always be, a pioneering academic powerhouse.

        At SCE, engineering goes way beyond the academic framework; it is a way of thinking, analyzing and solving fundamental questions that design the way people live their lives. Driven by a vision of outstanding education and social responsibility, SCE is committed to the pursuit of excellence, innovation, and promoting all communities.

    </div>
    <br/>
    <img src="//www.sce.ac.il/filestock/img/img_1497516872763-0.jpg" alt="Trulli" width="500" height="333">
</body>
</html>

