@model ProjectMVC.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div>
        Student First Name: @Model.FirstName
        <br/>
        Student Last Name: @Model.LastName
        <br/>
        Student Number: @Model.CustomerNumber
    </div>
</body>
</html>
