@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To The New SCE Portal</h1>
    <p class="lead">
        In the new portal you will be able to obtain a list of college employees / lecturers, first names, surnames and addresses.
        If you are in a manager / employee position, go to the Log-in link so you can do more.
    </p>
    <p><a href="https://en.sce.ac.il/sce/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div>
    <img src="http://am-gar.com/Assets/large-images/college-of-engineering.jpg" width="700" height="444">
</div>